body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
    color: #fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.main-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
}

.appContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }

    .appContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}